p::first-line {
  color: olivedrab;
  text-transform: uppercase;
}

h2::first-letter {
  color: blue;
  font-size: 40px;
}

p:first-of-type::first-letter {
  color: red;
  text-decoration: underline;
  font-size: 30px;
}

p::selection {
  background-color: yellow;
  color: red;
}
