.box {
  border: 2px solid black;
  height: 300px;
  width: 400px;
  background: url("images/peacock.png") no-repeat center;
}

.box2 {
  border: 2px solid black;
  height: 600px;
  width: 700px;
  background: url("images/people.jpg");
  background-size: cover;
  filter: grayscale() contrast(150%);
}

img {
  width: 500px;
  filter: blur(3px);
}
