p {
  font-size: 20px;
}

#word {
  border: 10px solid teal;
  padding: 10px;
  margin: 30px;
  height: 100px;
  display: inline-block;
}

h1 {
  border: 10px solid teal;
  padding: 10px;
  margin: 30px;
  height: 300px;
  display: inline;
}

.box {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  display: inline-block;
}

/* display: none */
h2 {
    display: none;
}