h1 {
  margin: -20px;
}

#container {
  border: 1px solid purple;
  background-color: lavenderblush;
  width: 400px;
  height: 400px;
}

#container h3 {
  text-align: center;
  border: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* margin collapsing */
p {
  border: 1px solid green;
  margin: 20px 0;
}
