.box {
  border: 6px solid olive;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  font-size: 40px;
  overflow-x: hidden;
}

span {
  background-color: orange;
  width: 400px;
  display: inline-block;
}
