h1 {
  /* border-width: 8px;
  border-color: purple;
  border-top-color: red;
  border-bottom-color: yellow;
  border-left-color: blue;
  border-style: solid;
  border-bottom-style: dotted; */
  border: 2px solid green;
}

h2 {
  border-bottom: 2px dashed magenta;
}
